In [50]:
# Author : Ajay Vanara

import pandas as pd
import numpy as np
import matplotlib as plt

# Reading and understanding of data
The information related to dataset needs to be fetched to check how the datatypes present in dataframe in addition to what all features are present in it

In [51]:
df = pd.read_csv("50_Startups.csv")
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [53]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [54]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [55]:
X = df.drop(['Profit'], axis=1)
y = df['Profit']

In [56]:
X['State'].value_counts()

New York      17
California    17
Florida       16
Name: State, dtype: int64

In [57]:
# Convert the column 'State' into categorical columns
states=pd.get_dummies(X['State'],drop_first=True)

In [58]:
# Drop the state coulmn
X=X.drop('State',axis=1)

In [59]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)

# Training and predicting using Linear Regression model

In [60]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [61]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
lin_regressor = LinearRegression()
lin_regressor.fit(X_train, y_train)

LinearRegression()

In [62]:
# Predicting the Test set results
y_pred = lin_regressor.predict(X_test)

In [63]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [64]:
score

0.9347068473282423